.global-footer {
	margin-top: 0px;
	margin-bottom: -5px;
}

	@media (max-width: 979px) {
		.global-footer {
			margin-top: 40px;
		}
	}

.global-footer a {
	color: #DDD;
	font-family: 'HelveticaNeueW01-57Cn';
	font-size: 16px;
}

.global-footer a:hover {
	color: white;
}

.global-footer .row {
	margin-bottom: 5px;

}

.global-footer h5 {
	color: white;
	font-size: 20px;
	font-family:'HelveticaNeueW01-67MdCn 692710';
	margin-top: 14px;
}
		
.footer-container {
	background: #333;
	position: relative;
	margin-top: 3px;
}

.link-footer {
	text-align: center;
}


		.link-footer-container {
			background: #609FCE;
		}
		
		.link-footer-container a {
			color: white;
			font-size: 11px;
			border-right: 1px solid white;
			padding: 2px 10px;
			font-family: 'HelveticaNeueW01-47LtCn 692689';
			letter-spacing: 1px;
		}
		
		.link-footer-container a:last-child {
			border-right: none !important;
		}


.footer-content {
	padding: 15px 0px;
}	
	
.footer-start-date {
	font-size: 11px;
	color: #999;
	line-height: 10px !important;
}

.footer-meta {
	margin: 0px;
}

.footer-meta li{
	list-style-type: none;
}

.footer-recent-posts {
	padding: 0px;
}

.footer-recent-posts li {
	list-style-type: none;
}

.footer-recent-posts li i {
	color: #888;
}

.global-footer .attachment-xs-thumbnail-card {
	-webkit-filter: grayscale(100%);
	transition: .35s;
	-webkit-transition: .35s; /* Safari */
}

.upcoming-school:hover img.attachment-xs-thumbnail-card,
.footer-related-post-container:hover img.attachment-xs-thumbnail-card {
	-webkit-filter: grayscale(0%);
}


	
.footer-social-media {
	text-align: center;
}
	
.footer-social-media img{
	width: 31px;
	margin: 5px 5px 25px 5px;
	padding: 5px;
	border-radius: 9999px;
	transition: .35s;
	-webkit-transition: .35s; /* Safari */
}

	@media (max-width: 979px) {
		.footer-social-media img {
			margin: 5px 0px 25px 0px;
		}
	}
	
	@media (max-width: 767px) {
		.footer-social-media img {
			margin: 5px 8px 25px 8px;
		}
	}
	
.footer-social-media img:hover {
	background: #609FCE;
}
	
.footer-user-options ul {
	padding: 0px 15px;
}

.footer-user-options ul i {
	color: #DDD;
	font-size: 16px;
}
	
.footer-user-options ul li {
	list-style-type: none;
	margin-left: 0px;
	padding: 9px 0px 8px 0px;
	border-top: 1px solid #666;
	text-align: center;
	transition: .35s;
	-webkit-transition: .35s; /* Safari */
}

.footer-user-options ul a li,
.footer-user-options ul li a {
	font-size: 14px;
	text-transform: uppercase;
	font-family:'HelveticaNeueW01-77BdCn 692722';
}

.footer-user-options ul li:hover {
	background: #609FCE;
}

.footer-user-options ul li:hover a {
	color: white;
}

.user-login-options {
	border-top: 2px solid #CCC !important;
}

.user-login-options:hover {
	background: transparent !important;
}

.user-login-options:hover a {
	color: #DDD !important;
}

.user-login-options a:hover, 
.user-login-options a:hover i {
	color: white !important;
}

.footer-login-separator {
	color: white;
	font-size: 20px;
	padding: 0px 10px;
}	
